.nav-link {
  text-transform: uppercase;
  font-size: 0.9rem;
}

/* Home Page */
/* ------------------------ */
main {
  margin: 2rem auto;
}
.note {
  min-width: 17rem;
  max-width: 22rem;
  border: 1px solid #111;
  border-radius: 0.3rem;
  padding: 0.6rem 0.7rem 1.5rem 1.1rem;
  margin: 1.3rem 1.3rem 0.4rem 0rem;
}

.note-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}
.note-category {
  text-transform: uppercase;
  font-weight: 400;
}
.note .note-date {
  font-style: italic;
  margin-bottom: 1.2rem;
  display: block;
}

/*  Login Page */
/* ------------------------ */
.login {
  padding: 0.4rem 0.3rem 3rem;
  margin: 1.5rem auto;
  border: 1px solid #111;
  border-radius: 1rem;
  text-align: center;
  max-width: 34rem;
}
.sign_up {
  margin: 0.6rem auto;
}

.brand {
  padding-top: 0rem;
  font-size: 4rem;
  margin-top: -0.5rem;
  margin-bottom: 1.7rem;
}
.add-new-note {
  padding: 2rem 4rem;
}

/*  Profile Page */
.profile-details {
  display: flex;
  max-width: 34rem;
  justify-content: space-around;
  align-content: space-around;
}
.profile-details > * {
  padding: 0.5rem;
  font-size: 1.1rem;
}

.profile-details > .profile-img {
  flex: 1 1 50%;
  order: 1;
}

.profile-img {
  display: block;
  width: 45%;
  border-radius: 50%;
  margin: auto;
}

/*  Error Page */
.error404 {
  font-size: 6rem;
  padding: 7.5rem 2.5rem;
}

/*  Footer */

footer {
  position: absolute;
  bottom: 0.2rem;
  padding: 0.3rem 0.2rem 2.3rem;
}
