.nav-link {
  text-transform: uppercase;
  font-size: 0.9rem;
}

main {
  margin: 2rem auto;
}

.login {
  padding: 0.4rem 0.3rem 3rem;
  margin: 1.5rem auto;
  border: 1px solid #111;
  border-radius: 1rem;
  text-align: center;
  max-width: 34rem;
}
.sign_up {
  margin: 0.6rem auto;
}
.brand{
   padding-top: 0rem;
   font-size: 4rem;
   margin-top: -0.5rem;
   margin-bottom: 1.7rem;
}
.add-new-note {
  padding: 2rem 4rem;
}
.profile-details{
  display: flex;
  max-width: 34rem;
  justify-content: space-around;
  align-content: space-around;

}
.profile-details > *{
  padding: .5rem;
  font-size: 1.1rem;
}

.profile-details > .profile-img{
  flex: 1 1 50%;
  order: 1;
}

.profile-img{
   display: block;
   width: 45%;
   border-radius: 50%;
   margin: auto;
}
.error404 {
  font-size: 6rem;
  padding: 7.5rem 2.5rem;
}

footer {
  position: absolute;
  bottom: 0.2rem;
  padding: 0.3rem 0.2rem 2.3rem;
}
